.gamesDiv{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1vh;
  column-gap: 1vw;
  margin: 0 5vw;
}

.gameCatDiv{
  height: 20vh;
  display: inline-grid;
  
}
img{
  height: 20vh;
  width: 100%;
  z-index: 0;
  opacity: 0.6;
}

img:hover{
  opacity: 0.9;
}

.gameCatDiv>h2{
  z-index: 1;
  color: black;
}