body {
  margin-left: -3.5%;
  background: url("./images/bg3.jpg");
  background-size: auto;
}

.gamesDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* row-gap: 1vh; */
  column-gap: 1vw;
  margin: 0 5vw 0 15vw;
}

.gameCatDiv {
  height: 55vh;
  width: 21vw;
  text-align: center;
  border: 1px solid grey;
  border-radius: 1.5em;
  box-shadow: 2px 4px 7px 1px rgb(81, 212, 86);
  background-color: rgb(31, 29, 29);
  transition: transform 2s;
  margin-bottom: 10px;
}
img {
  height: 30vh;
  width: 20.8vw;
  z-index: 10;
  opacity: 0.5;
  position: relative;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  transition: 1s;
  overflow: hidden;
}
.catImages {
  opacity: 1;
}

img:hover {
  opacity: 1;
  transform: scale(1.15);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.gameCatHead > h2 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

nav {
  margin: 0;
  padding: 0;
  width: 11vw;
  background-color: rgb(31, 29, 29);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: white;
  padding-left: 1em;
  font-size: 1em;
}

nav a.active {
  background-color: #4caf50;
  color: white;
}

nav a:hover:not(.active) {
  background-color: rgb(81, 212, 86);
  color: white;
}

nav > h1 {
  color: darkred;
  padding-left: 0.2em;
  font-size: 1.8em;
}

h4 {
  color: white;
  font-family: "Caudex", serif;
  font-size: 1em;
}

video {
  height: 30vh;
  width: 20.8vw;
  z-index: 0;
  opacity: 0.8;
  position: relative;
  border: 1px snow grey;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  transition: 1s;
  overflow: hidden;
}

video:hover {
  opacity: 1;
  transform: scale(1.1);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  z-index: 12;
}
li {
  display: flex;
  flex-direction: column;
  text-align: left;
}
li > h4 {
  margin-top: 20px;
  color: white;
  font-family: "Caudex", serif;
  font-size: 1.1em;
  z-index: inherit;
}
header {
  color: white;
  display: flex;
  justify-content: center;
}

.info {
  margin-left: 0.5vw;
}

ul {
  position: absolute;
  background-color: rgb(31, 29, 29);
  color: white;
  width: 18.6vw;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 2px 4px 7px 1px rgb(81, 212, 86);
  background-color: rgb(31, 29, 29);
  margin-top: -5px;
  margin-left: -0.5vw;
  z-index: 11;
}

.platforms {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fab,
.fas {
  display: flex;
  margin-left: 20px;
}

.catHead {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-plus-circle {
  color: #4caf50;
  top: 0;
  left: 0;
  position: relative;
}

#title {
  display: flex;
}
#titleName {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
}

#platformTitleName {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1.8em;
}

#sampleGames {
  color: #4caf50;
  font-size: 2em;
  text-decoration: underline;
}

#titleNames {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1.5em;
  padding: 0.2em;
}

input {
  width: 60vw;
  margin-left: 15vw;
  height: 8vh;
  text-align: center;
  font-size: 4em;
  border-radius: 0.5em;
  box-shadow: 3px 3px 10px black;
}

#formDiv {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 30vh;
}

.headerRegion {
  overflow: hidden;
  position: relative;
  width: 110vw;
  background-color: rgb(31, 29, 29);
  height: 7vh;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.headerRegion > img{
  opacity: 1;
  height: 100%;
  padding: 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: rgb(31, 29, 29);
  color: white;
  text-align: center;
  z-index: 20;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}
#footerIcons {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  padding-top: 2vh;
}

.fa-phone,
.fa-github,
.fa-linkedin,
.fa-envelope,
.fa-copyright {
  color: #4caf50;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .gamesDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5vw;
    margin: 0 5vw 0 15vw;
    float: right;
  }
  .gameCatDiv {
    height: 35vh;
    width: 38vw;
    text-align: center;
    border: 1px solid grey;
    border-radius: 1.5em;
    box-shadow: 2px 4px 7px 1px rgb(81, 212, 86);
    background-color: rgb(31, 29, 29);
    transition: transform 2s;
    margin-bottom: 10px;
  }
  nav {
    margin: 0;
    padding: 0;
    width: 17vw;
    background-color: rgb(31, 29, 29);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  img {
    height: 18vh;
    width: 33vw;
    z-index: 10;
    opacity: 1;
    position: relative;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    transition: 1s;
    overflow: hidden;
  }

  ul {
    position: absolute;
    background-color: rgb(31, 29, 29);
    color: white;
    width: 34vw;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 2px 4px 7px 1px rgb(81, 212, 86);
    background-color: rgb(31, 29, 29);
    margin-top: -6px;
    margin-left: -0.6vw;
    z-index: 11;
  }

  li {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  li > h4 {
    margin-top: 20px;
    color: white;
    font-family: "Caudex", serif;
    font-size: 1.1em;
    z-index: inherit;
  }

  video {
    height: 30vh;
    width: 33vw;
    z-index: 0;
    opacity: 0.8;
    position: relative;
    border: 1px snow grey;
    border: 1.5em;
    transition: 1s;
    overflow: hidden;
    margin-top: -7vh;
  }
  input {
    width: 60vw;
    margin-left: 15vw;
    height: 5vh;
    text-align: center;
    font-size: 2em;
    border-radius: 0.5em;
    box-shadow: 3px 3px 10px black;
  }

  #formDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30vh;
  }
}

@media only screen and (max-width: 500px) {
  .gamesDiv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0.5vw;
    margin: 0 5vw 0 15vw;
    float: right;
  }
  .gameCatDiv {
    height: 50vh;
    width: 73vw;
    text-align: center;
    border: 1px solid grey;
    border-radius: 1.5em;
    box-shadow: 2px 4px 7px 1px rgb(81, 212, 86);
    background-color: rgb(31, 29, 29);
    transition: transform 2s;
    margin-bottom: 10px;
  }
  nav {
    margin: 0;
    padding: 0;
    width: 20vw;
    background-color: rgb(31, 29, 29);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  img {
    height: 30vh;
    width: 70vw;
    z-index: 10;
    opacity: 1;
    position: relative;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    transition: 1s;
    overflow: hidden;
  }

  ul {
    position: absolute;
    background-color: rgb(31, 29, 29);
    color: white;
    width: 62vw;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 2px 4px 7px 1px rgb(81, 212, 86);
    background-color: rgb(31, 29, 29);
    margin-top: -6px;
    margin-left: -0.6vw;
    z-index: 11;
  }

  li {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  li > h4 {
    margin-top: 5px;
    color: white;
    font-family: "Caudex", serif;
    font-size: 1.1em;
    z-index: inherit;
  }

  video {
    height: 30vh;
    width: 33vw;
    z-index: 0;
    opacity: 0.8;
    position: relative;
    border: 1px snow grey;
    border: 1.5em;
    transition: 1s;
    overflow: hidden;
    margin-top: -7vh;
  }

  nav > h1 {
    color: darkred;
    padding-left: 0.2em;
    font-size: 0.6em;
  }
  a {
    text-decoration: none;
    color: white;
    padding-left: 1em;
    font-size: 0.3em;
  }
  input {
    width: 60vw;
    margin-left: 15vw;
    height: 8vh;
    text-align: center;
    font-size: 2em;
    box-shadow: 3px 3px 10px black;
  }

  #formDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40vh;
  }
}
